<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <!-- <link rel="stylesheet" href="./assets/style/bootstrap.css"> -->
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light py-5 py-md-6">
      <div class="container justify-content-between">
        <a class="navbar-brand" href="#">
          <img src="./assets/images/DOYOGA-logo.png" alt="DOYOGA logo" width="96" class="d-inline-block align-text-top">
          <div class="visually-hidden">
            DOYOGA
          </div>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
          <ul class="navbar-nav  mb-2 mb-lg-0 text-center">
            <li class="nav-item mr-lg-7">
              <a class="nav-link active" aria-current="page" href="#">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mr-lg-7" href="#">瑜珈空間</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">當月課表</a>
            </li>
            <li class="nav-item d-flex d-lg-none justify-content-center">
                <button class="btn btn-outline-primary rounded-3 me-3">
                  立即預約
                </button>
                <button class="btn btn-outline-primary rounded-3">
                  聯絡我們
                </button>
            </li>
          </ul>
        </div>
        <div class="d-none d-lg-flex">
          <button class="btn btn-outline-primary rounded-3 me-3">
            立即預約
          </button>
          <button class="btn btn-outline-primary rounded-3">
            聯絡我們
          </button>
        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer bg-primary text-white">
      <div class="border-bottom border-white py-5 py-md-7">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <p class="fw-md-medium fs-4 fs-md-3 mb-2 mb-lg-0">
                現在訂閱，獲得課程優惠碼！
              </p>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="輸入您的電子信箱">
                <button class="text-white btn btn-secondary" type="button" id="button-addon2">訂閱</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between pt-5 pb-7 pt-md-7">
        <div class="position-relative container d-flex justify-content-between">
          <div>
            <img class="mb-2" src="./assets/images/DOYOGA.png" width="96" alt="logo">
            <ul class="socialLink">
              <li class="mb-2">
                <a class="text-white" href="#">
                  課程介紹
                </a>
              </li>
              <li class="mb-2">
                <a class="text-white" href="#">
                  瑜珈空間
                </a>
              </li>
              <li class="mb-2 mb-md-0">
                <a class="text-white" href="#">
                  當月課表
                </a>
              </li>
              <li class="position-md-absolute start-50 bottom-0 translate-middle-md-x">
                © 2021. All Rights Reserved.
              </li>
            </ul>
          </div>
          <ul class="socialLink d-flex">
            <li class="me-2">
              <a href="#">
                <img src="./assets/images/icon-fb.svg" alt="fb" width="24">
              </a>
            </li>
            <li class="me-2">
              <a href="#">
                <img src="./assets/images/icon-ig.svg" alt="ig" width="24">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/icon-line.svg" alt="line" width="24">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>